html, body {
  background: #C4B7CB;
  font-family: 'Poiret One', cursive;
  max-height: 100vh;
  width: 100%;

}

/*header styling*/
.heading {
  background: #F7D6E0;
  background: rgba(247, 214, 224, 0.5);
  height: 100px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}

h1{
  color: #C52184;
  font-family: 'Monoton', cursive;
  font-size: 50px;
  height: 60px;
  line-height: 110px;
  margin: 0 auto;
  width: 50%;
}

.score-board {
  background: #F7D6E0;
  background: rgba(247, 214, 224, 0.5);
  float: left;
  font-size: 40px;
  height: 110px;
  line-height: 55px;
  text-align: center;
  width: 50%;
}

nav {
  background: #F7D6E0;
  background: rgba(247, 214, 224, 0.5);
  float: right;
  font-size: 40px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  width: 50%;
}

a {
  text-decoration: none;
}

.option-one, .option-two{
  background: #FFFFFF;
  background: rgba(247, 214, 224, 0.5);
  font-size: 30px;

}

.option-one, .option-two, .instructions, .about {
  display: none;
}

.about, .instructions {
  background: #FFFFFF;
  background: rgba(255, 224, 181, 0.8);
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  height: 600px;
  line-height: 75px;
  margin: 120px auto;
  position: absolute;
  text-align: center;
  top: 110px;
  width: 600px;
  z-index: 4;
}

.close {
  border: 2px dotted grey;
  height: 50px;
  line-height: 50px;
  margin: auto;
  width: 50px;
}

/*main styling*/
main {
  background: #C4B7CB;
  clear: both;
  margin: 0 auto;
  padding-bottom: 30px;
  width: 50%;
}

.grid {
  background: #C4B7CB;
  border-radius: 5px;
  height: 550px;
  margin: 130px auto;
  width: 600px;
}

.square {
  background: #FE938C;
  border: 1px solid #C52184;
  border-radius: 5px;
  color: #FFFFFF;
  float: left;
  font-size: 40px;
  height: 198px;
  line-height: 198px;
  text-align: center;
  width: 198px;
}

.matchStatus {
  background: #FFFFFF;
  background: rgba(255, 224, 181, 0.3);
  display: none;
  font-family: 'Poiret One', cursive;
  font-size:  40px;
  font-variant-caps: small-caps;
  font-weight: bold;
  height: 600px;
  line-height: 600px;
  position: absolute;
  text-align: center;
  width: 600px;
  z-index: 3;
}

button {
  background-color: #9D91A3;
  border-radius: 20px;
  color: white;
  display: block;
  font-family: 'Poiret One', cursive;
  font-size: 35px;
  font-variant-caps: small-caps;
  height: 70px;
  margin: 0 auto;
  width: 150px;
}

/*footer styling*/
footer {
  background: #FFFFFF;
  background:  rgba(255, 255, 255, 0.3);
  bottom: -300px;
  font-size: 30px;
  font-variant-caps: small-caps;
  line-height: 70px;
  margin: 0 auto;
  position: static;
  text-align: center;
  width: 100%;
}

/*iphone screen styling*/
@media only screen and (max-width: 375px) {
  html, body{
    width: 375px;
  }

/* iphone header styling*/
  h1 {
    font-size: 42px;
    position: absolute;
  }

  nav {
    background: #F7D6E0;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    width: 50%;
  }

  .score-container{
    height: 20px;
  }

  .score-board {
    background: #F7D6E0;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    width: 50%;
  }

  .about, .instructions {
    height: 500px;
    margin: 0 auto;
    top: 210px;
    width: 375px;
  }

  a {
    font-size: 20px;
  }

  .option-one, .option-two {
    background: #FFFFFF;
    background: rgba(247, 214, 224, 0.5);
    display: block;
  }

  .option-one, .option-two, .instructions, .about {
    display: none;
    font-size: 20px;
  }

  .instructions, .about {
    height:375px;
    line-height: 30px;
    width:375px;
  }

/*iphone main styling*/
  main {
    width: auto;
  }

  .square {
    font-size: 20px;
    height: 122.5px;
    line-height: 122.5px;
    width: 122.5px;
  }

  .grid {
    height: 400px;
    margin: 0 auto;
    width: 375px;
  }

  .matchStatus {
    height: 375px;
    line-height: 375px;
    width: 375px;
  }

  button {
    font-size: 20px;
    height: auto;
    width: 100px;
  }

/* iphone footer styling*/
  footer {
    display: none;
  }
}
