body {
  background: #D5B9B2;

}

h1 {
  font-family: 'Monoton', cursive;
  color: #9D91A3;
  text-align: center;
  margin: 30px;
  padding: 20px;
  font-size: 60px;
}

p {
  text-align: center;
}


.score-board {
  width: 500px;
  height: 120px;
  border: 2px solid black;
  margin: 5px auto;
  padding: 5px;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
  font-variant-caps: small-caps;
}

.level {
  text-align: center;
  padding: 20px;
  margin: 10px;
  font-family: 'Poiret One', cursive;
}

.score{
  text-align: center;
  margin: 10px;
  padding: 20px;
  font-family: 'Poiret One', cursive;
}


.matchStatus {
  margin: 10px;
  padding: 10px;
  font-family: 'Poiret One', cursive;
  font-size:  150px;
  text-align: center;
}

main {
  width: 700px;
  height: 700px;
  margin: 0 auto;
  background-color: #D5B9B2;

}

ul {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #D5B9B2;
  padding: 10px;
  position: relative;
  display: block;
}

li {
  width:  196px;
  height: 196px;
  margin: 2px;
  background-color: #FE938C;
  color: #EEEFD7;
  float: left;
  line-height: 196px;
  font-size: 30px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-variant-caps: small-caps;
}

button {
  margin: auto;
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: #9D91A3;
  border-radius: 20px;
  display: block;
  font-family: 'Poiret One', cursive;
  font-variant-caps: small-caps;
}

footer {
  background-color: #D5B9B2;
  float:  none;
  margin: 50px;
  padding: 10px;
  font-family: 'Poiret One', cursive;
  font-variant-caps: small-caps;
}
