body {
  background: #C4B7CB;

}

header, footer{
  position:absolute;
  right:0;
  left:0;
}

header{
  height: 400px;
  line-height: 150px;
}

h1 {
  font-family: 'Monoton', cursive;
  color: #F7D6E0;
  text-align: center;
  /*margin: 30px;
  padding: 20px;*/
  font-size: 70px;
}

p {
  text-align: center;
  font-size: 30px;
}

main {
  width: 700px;
  height: 700px;
  padding: 300px;
  margin: 0 auto;
  background-color: #C4B7CB;
  overflow:hidden;

}

ul {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #C4B7CB;
  /*padding: 10px;*/
  position: relative;
  display: block;
}

li {
  width:  196px;
  height: 196px;
  margin: 2px;
  background-color: #FE938C;
  color: #F7D6E0;
  float: left;
  line-height: 196px;
  font-size: 30px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-variant-caps: small-caps;
}

button {
  margin: auto;
  padding: 10px;
  font-size: 28px;
  color: white;
  background-color: #9D91A3;
  border-radius: 20px;
  display: block;
  font-family: 'Poiret One', cursive;
  font-variant-caps: small-caps;
}

footer {
  background-color: #C4B7CB;
  float:  none;
  margin: 50px;
  padding: 10px;
  font-family: 'Poiret One', cursive;
  font-variant-caps: small-caps;
  height:100px;
  bottom:0;
}




.score-board {
  width: 500px;
  height: 120px;
  margin: 5px auto;
  padding: 5px;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
  line-height: 60px;
}

.level {
  text-align: center;
  padding: 10px;
  margin: 20px;
  font-family: 'Poiret One', cursive;
}

.score {
  text-align: center;
  padding: 10px;
  margin: 20px;
  font-family: 'Poiret One', cursive;
}

.matchStatus {
  margin: 10px;
  padding: 10px;
  font-family: 'Poiret One', cursive;
  font-size:  40px;
  text-align: center;
}
