
body {
  background: #C4B7CB;
  text-align: center;
  font-size: 30px;
}

header{
  height: 300px;
  line-height: 90px;
  background-color: pink;
}

h1 {
  font-family: 'Monoton', cursive;
  color: #C52184;
  font-size: 70px;
  float:left;
  padding-left: 200px;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  height: 90px;
  line-height: 90px;
  width: 100%;
  clear: right;
}

.navitems {
  font-size: 30px;
  float: right;
  /*line-height: 90px;*/
  padding-right: 200px;
  font-family: 'Poiret One', cursive;
  font-variant: small-caps;
  text-decoration: none;
  list-style: none;
}

main {
  width: 700px;
  height: 700px;
  margin: 0 auto;
  background-color: #C4B7CB;
  overflow:hidden;

}
.score-board {
  width: 350px;
  height: 120px;
  margin: 50px auto;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
  font-variant: small-caps;
  line-height: 60px;
}

.level {
  text-align: center;
  padding: 10px;
  margin: 20px;
  font-family: 'Poiret One', cursive;
}

.score {
  text-align: center;
  padding: 10px;
  margin: 20px;
  font-family: 'Poiret One', cursive;
}

.matchStatus {
  font-family: 'Poiret One', cursive;
  font-size:  60px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  background: rgba(255, 224, 181, 0.3);
  width: 100%;
  height: 600px;
  line-height: 600px;
  display: none;
}

.grid {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #C4B7CB;
  padding: 10px 0;
  position: relative;
  display: block;
}

.square {
  width:  196px;
  height: 196px;
  margin: 2px;
  background-color: #FE938C;
  color: #F7D6E0;
  float: left;
  line-height: 196px;
  font-size: 30px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-variant-caps: small-caps;
}

button {
  margin: 0 auto;
  padding: 10px;
  font-size: 28px;
  color: white;
  background-color: #9D91A3;
  border-radius: 20px;
  display: block;
  font-family: 'Poiret One', cursive;
  font-variant-caps: small-caps;
}

footer {
  background-color: pink;
  float: none;
  font-family: 'Poiret One', cursive;
  font-variant-caps: small-caps;
  line-height: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 600px) {
  /*body {
  background: #C4B7CB;
  text-align: center;
  font-size: 15px;
  }*/

  header{
    height: 25%;
    background-color: pink;
  }

  h1 {
    font-family: 'Monoton', cursive;
    color: #C52184;
    font-size: 40px;
    float:left;
    padding-left: 20%;
  }

  .navbar {
    background-color: rgba(255, 255, 255, 0.5);
    height: 28px;
    width: 500px;
    clear: right;
  }

  .navitems {
    font-size: 15px;
    float:right;
    padding-right: 20px;
    font-family: 'Poiret One', cursive;
    font-variant: small-caps;
    line-height: 28px;
    text-decoration: none;
  }

  main {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #C4B7CB;
    overflow:hidden;

  }
  .score-board {
    width: 500px;
    height: 125px;
    margin: 25px auto;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    font-variant: small-caps;
    line-height: 60px;
    background-color: pink;
    float:left;
  }

  .level {
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-family: 'Poiret One', cursive;
  }

  .score {
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-family: 'Poiret One', cursive;
  }

  .matchStatus {
    font-family: 'Poiret One', cursive;
    font-size:  40px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    background: rgba(255, 224, 181, 0.3);
    width: 100%;
    height: 400px;
    line-height: 400px;
    display: none;
  }

  .grid {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #C4B7CB;
    padding: 10px 0;
    position: relative;
    display: block;
  }

  .square {
    width:  128px;
    height: 128px;
    margin: 2px;
    background-color: #FE938C;
    color: #F7D6E0;
    float: left;
    font-size: 20px;
    text-align: center;
    line-height: 126px;
    font-family: 'Poiret One', cursive;
    font-variant-caps: small-caps;
  }

  button {
    margin: 2px auto;
    padding: 5px;
    font-size: 20px;
    color: white;
    background-color: #9D91A3;
    border-radius: 20px;
    display: block;
    font-family: 'Poiret One', cursive;
    font-variant-caps: small-caps;
  }
  /*
  footer {
  background-color: pink;
  float: none;
  font-family: 'Poiret One', cursive;
  font-variant-caps: small-caps;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  }*/

}
